@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "variables.css";

/* COMPONENTS */

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/* SCREEN */

@import "screen/login.css";

* {
  font-family: "Open Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}
